html {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  #app {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  nav {
    display: flex;
    background-color: rgb(184, 184, 241);
    align-items: center;
    height: 15%;
    justify-content: space-between;
    color: black;
  }

  .lnk {
    display: flex;
  }
  
  .link {
    text-decoration: underline;
    color: rgb(7, 6, 6);
    padding: 5%;
  }

  /* .postcard {

    display: grid;
     
    grid-template-columns: repeat(3, 1fr);
     
    grid-auto-rows: auto;
     
    grid-gap: 1rem;
     
    }
     
     
    .postCard {
     
    border: 10px solid #e7e7e7;
     
    border-radius: 4px;
     
    padding: .5rem;
     
    } */

  /* .title {
    font-size: large;
    font-weight: bolder;
    height: fit-content;
    background-color: rgb(185, 185, 185);
    background-size: cover;
    padding: 0 1%;
    border-bottom: solid 0.1rem;
    flex: 2 0;
  }

  .author {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    background-color: rgb(218, 218, 218);
    font-size: medium;
    font-weight: bold;
    padding: 0 1%;
    flex: 1 0;
  } */
  /* .description {
    display: flex;
    flex-direction: column;
    font-size: small;
    flex: 10 0;
  }

  .goal {
    display: flex;
    flex-direction: column;
    font-size: small;
    flex: 10 0;
  }

  .description {
    display: flex;
    flex-direction: column;
    font-size: small;
    flex: 10 0;
  } */